services:
    -
        class: Hyvor\JsonMeta\PHPStan\DynamicReturnType\MetaDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: Hyvor\JsonMeta\PHPStan\DefineMetaParser
        arguments:
            parser: @defaultAnalysisParser